div.location {
    margin: 4%;
}

table.treatment {
    top: 100px;
}

div.heade {
    border-end-start-radius: 4px;
    border-start-end-radius: 4px;
    background-color: #3367d6;
    font-family: Roboto, sans-serif;

    vertical-align: middle;
    border-bottom: 0;
    text-decoration: none;
    white-space: nowrap;
    background-clip: padding-box;
    min-height: 28px;
    padding: 10px 0 0;
    box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
    color: #ffffff;
    background-clip: padding-box;
    
    border-width: 0 0 0 4px;
    font-size: 1.3em;
}